.env

node_modules
.next

frontend/.next
frontend/node_modules

src/mcp_config.json

agents/.env
agents/mcp_config.json

package-lock.json
frontend/package-lock.json

frontend/mcp_config.json
frontend/src/mcp_config.json
frontend/src/.env

src/mcp_config.json
src/.env

frontend/mcp_config.json
frontend/src/mcp_config.json
frontend/src/.env
frontend/src/mcp_config.json
mcp_config.json

